/* HOME PAGE */

.cover-img {
  display: flex;
  align-items: end;
  justify-content: center;
  color: #646cff;
  width: 100vw;
  height: 330px;
  background-position: bottom;
  font-size: larger;
  background-size: cover;
}

.pages {
  margin-left: 300px;
}

.request-form-div {
  display: flex;
  width: 75%;
  flex-direction: column;
  gap: 1em;
  border-radius: 8px;
  text-align: left;
  padding: 10px;
}
